.tradeshift {
  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include mq-start-from(mobile) {
      flex-direction: row;
      margin: 0 auto;
      width: 1024px;
    }
  }
  &__block {
    &--6 {
      align-self: center;
      text-align: center;
      width: 50%;
    }
  }
}
