@function get-font-size($size, $device) {
  @return map-get(map-get($font-map, $size), $device);
}

@mixin get-font($size) {
  font-size: get-font-size($size, "desktop");
}

@mixin font($weight: "normal", $size: "default") {
  @include get-font($size);
  @if ($weight == "thin") {
    font-weight: 300;
  } @else if ($weight == "normal") {
    font-weight: 400;
  } @else if ($weight == "bold") {
    font-weight: 900;
  }
}
