.tradeshift__header{background:#00b0ff}.tradeshift__content{display:flex;flex-direction:column;width:100%}@media (min-width: 600px){.tradeshift__content{flex-direction:row;margin:0 auto;width:1024px}}.tradeshift__block--6{align-self:center;text-align:center;width:50%}
