$font-map: (
    tiny: (
        mobile: 11px,
        tablet: 11px,
        desktop: 12px
    ),
    small: (
        mobile: 12px,
        tablet: 12px,
        desktop: 13px
    ),
    default: (
        mobile: 13px,
        tablet: 13px,
        desktop: 14px
    ),
    large: (
        mobile: 14px,
        tablet: 14px,
        desktop: 15px
    ),
    big: (
        mobile: 16px,
        tablet: 17px,
        desktop: 18px
    ),
    bigger: (
        mobile: 17px,
        tablet: 18px,
        desktop: 21px
    ),
    huge: (
        mobile: 18px,
        tablet: 21px,
        desktop: 24px
    ),
    mega: (
        mobile: 21px,
        tablet: 24px,
        desktop: 28px
    ),
    giga: (
        mobile: 24px,
        tablet: 28px,
        desktop: 36px
    ),
    ultra: (
        mobile: 36px,
        tablet: 42px,
        desktop: 48px
    ),
    tera: (
        mobile: 42px,
        tablet: 54px,
        desktop: 64px
    ),
    special: (
        mobile: 42px,
        tablet: 64px,
        desktop: 84px
    )
);